---
swagger: "2.0"
info:
  description: "An OpenAPI for EVE Online"
  version: "0.8.3"
  title: "EVE Swagger Interface"
host: "esi.evetech.net"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /v1/alliances/:
    get:
      tags:
      - "Alliance"
      summary: "List all alliances"
      description: "List all active player alliances\n\n---\n\nThis route is cached\
        \ for up to 3600 seconds"
      operationId: "get_alliances"
      parameters:
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      responses:
        200:
          description: "List of Alliance IDs"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_alliances_ok"
            items:
              type: "integer"
              format: "int32"
              description: "200 ok integer"
              title: "get_alliances_200_ok"
              minimum: 0
            maxItems: 5000
          examples:
            application/json:
            - 99000001
            - 99000002
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 3600
  /v1/alliances/{alliance_id}/contacts/labels/:
    get:
      tags:
      - "Contacts"
      summary: "Get alliance contact labels"
      description: "Return custom labels for an alliance's contacts\n\n---\n\nThis\
        \ route is cached for up to 300 seconds"
      operationId: "get_alliances_alliance_id_contacts_labels"
      parameters:
      - name: "alliance_id"
        in: "path"
        description: "An EVE alliance ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "AllianceId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A list of alliance contact labels"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_alliances_alliance_id_contacts_labels_ok"
            items:
              $ref: "#/definitions/get_alliances_alliance_id_contacts_labels_200_ok"
            maxItems: 64
          examples:
            application/json:
            - label_id: 1
              label_name: "Alliance Friends"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-alliances.read_contacts.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 300
  /v1/alliances/{alliance_id}/corporations/:
    get:
      tags:
      - "Alliance"
      summary: "List alliance's corporations"
      description: "List all current member corporations of an alliance\n\n---\n\n\
        This route is cached for up to 3600 seconds"
      operationId: "get_alliances_alliance_id_corporations"
      parameters:
      - name: "alliance_id"
        in: "path"
        description: "An EVE alliance ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "AllianceId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      responses:
        200:
          description: "List of corporation IDs"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_alliances_alliance_id_corporations_ok"
            items:
              type: "integer"
              format: "int32"
              description: "200 ok integer"
              title: "get_alliances_alliance_id_corporations_200_ok"
              minimum: 0
            maxItems: 1000
          examples:
            application/json:
            - 98000001
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 3600
  /v1/alliances/{alliance_id}/icons/:
    get:
      tags:
      - "Alliance"
      summary: "Get alliance icon"
      description: "Get the icon urls for a alliance\n\n---\n\nThis route is cached\
        \ for up to 3600 seconds"
      operationId: "get_alliances_alliance_id_icons"
      parameters:
      - name: "alliance_id"
        in: "path"
        description: "An EVE alliance ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "AllianceId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Icon URLs for the given alliance id and server"
          schema:
            $ref: "#/definitions/get_alliances_alliance_id_icons_ok"
          examples:
            application/json:
              px128x128: "https://imageserver.eveonline.com/Alliance/503818424_128.png"
              px64x64: "https://imageserver.eveonline.com/Alliance/503818424_64.png"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        404:
          description: "No image server for this datasource"
          schema:
            $ref: "#/definitions/get_alliances_alliance_id_icons_not_found"
          examples:
            application/json:
              error: "No image server for this datasource"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 3600
  /v1/characters/affiliation/:
    post:
      tags:
      - "Character"
      summary: "Character affiliation"
      description: "Bulk lookup of character IDs to corporation, alliance and faction\n\
        \n---\n\nThis route is cached for up to 3600 seconds"
      operationId: "post_characters_affiliation"
      parameters:
      - in: "body"
        name: "characters"
        description: "The character IDs to fetch affiliations for. All characters\
          \ must exist, or none will be returned."
        required: true
        schema:
          title: "post_characters_affiliation_characters"
          type: "array"
          description: "characters array"
          items:
            type: "integer"
            format: "int32"
            description: "character integer"
            title: "post_characters_affiliation_character"
          minItems: 1
          maxItems: 1000
        x-exportParamName: "Characters"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Character corporation, alliance and faction IDs"
          schema:
            type: "array"
            description: "200 ok array"
            title: "post_characters_affiliation_ok"
            items:
              $ref: "#/definitions/post_characters_affiliation_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - alliance_id: 434243723
              character_id: 95538921
              corporation_id: 109299958
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        404:
          description: "No characters found!"
          schema:
            $ref: "#/definitions/post_characters_affiliation_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 3600
  /v1/characters/{character_id}/agents_research/:
    get:
      tags:
      - "Character"
      summary: "Get agents research"
      description: "Return a list of agents research information for a character.\
        \ The formula for finding the current research points with an agent is: currentPoints\
        \ = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)\n\
        \n---\n\nThis route is cached for up to 3600 seconds"
      operationId: "get_characters_character_id_agents_research"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A list of agents research information"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_agents_research_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_agents_research_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - agent_id: 3009358
              points_per_day: 53.5346162147
              remainder_points: 53604.0634303189
              skill_type_id: 11450
              started_at: "2017-03-23T14:47:00Z"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_agents_research.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 3600
  /v1/characters/{character_id}/assets/names/:
    post:
      tags:
      - "Assets"
      summary: "Get character asset names"
      description: "Return names for a set of item ids, which you can get from character\
        \ assets endpoint. Typically used for items that can customize names, like\
        \ containers or ships.\n\n---\n"
      operationId: "post_characters_character_id_assets_names"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - in: "body"
        name: "item_ids"
        description: "A list of item ids"
        required: true
        schema:
          title: "post_characters_character_id_assets_names_item_ids"
          type: "array"
          description: "item_ids array"
          items:
            type: "integer"
            format: "int64"
            description: "item_id integer"
            title: "post_characters_character_id_assets_names_item_id"
          minItems: 1
          maxItems: 1000
        x-exportParamName: "ItemIds"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "List of asset names"
          schema:
            type: "array"
            description: "200 ok array"
            title: "post_characters_character_id_assets_names_ok"
            items:
              $ref: "#/definitions/post_characters_character_id_assets_names_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - item_id: 12345
              name: "Awesome Name"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-assets.read_assets.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
  /v1/characters/{character_id}/attributes/:
    get:
      tags:
      - "Skills"
      summary: "Get character attributes"
      description: "Return attributes of a character\n\n---\n\nThis route is cached\
        \ for up to 3600 seconds"
      operationId: "get_characters_character_id_attributes"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Attributes of a character"
          schema:
            $ref: "#/definitions/get_characters_character_id_attributes_ok"
          examples:
            application/json:
              charisma: 20
              intelligence: 20
              memory: 20
              perception: 20
              willpower: 20
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-skills.read_skills.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 3600
  /v1/characters/{character_id}/calendar/:
    get:
      tags:
      - "Calendar"
      summary: "List calendar event summaries"
      description: "Get 50 event summaries from the calendar. If no from_event ID\
        \ is given, the resource will return the next 50 chronological event summaries\
        \ from now. If a from_event ID is specified, it will return the next 50 chronological\
        \ event summaries from after that event.\n\n---\n\nThis route is cached for\
        \ up to 5 seconds"
      operationId: "get_characters_character_id_calendar"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "from_event"
        in: "query"
        description: "The event ID to retrieve events from"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "FromEvent"
        x-optionalDataType: "Int32"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A collection of event summaries"
          schema:
            type: "array"
            description: "Up to 50 events from now or the event you requested"
            title: "get_characters_character_id_calendar_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_calendar_200_ok"
            maxItems: 50
          examples:
            application/json:
            - event_date: "2016-06-26T20:00:00Z"
              event_id: 1386435
              event_response: "accepted"
              importance: 0
              title: "o7 The EVE Online Show"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-calendar.read_calendar_events.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 5
  /v1/characters/{character_id}/calendar/{event_id}/attendees/:
    get:
      tags:
      - "Calendar"
      summary: "Get attendees"
      description: "Get all invited attendees for a given event\n\n---\n\nThis route\
        \ is cached for up to 600 seconds"
      operationId: "get_characters_character_id_calendar_event_id_attendees"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "event_id"
        in: "path"
        description: "The id of the event requested"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "EventId"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "List of attendees"
          schema:
            type: "array"
            description: "List of attendees for a given event"
            title: "get_characters_character_id_calendar_event_id_attendees_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_calendar_event_id_attendees_200_ok"
            maxItems: 100
          examples:
            application/json:
            - character_id: 2112625428
              event_response: "accepted"
            - character_id: 95465499
              event_response: "tentative"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/get_characters_character_id_calendar_event_id_attendees_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-calendar.read_calendar_events.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 600
  /v1/characters/{character_id}/contacts/labels/:
    get:
      tags:
      - "Contacts"
      summary: "Get contact labels"
      description: "Return custom labels for a character's contacts\n\n---\n\nThis\
        \ route is cached for up to 300 seconds"
      operationId: "get_characters_character_id_contacts_labels"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A list of contact labels"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_contacts_labels_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_contacts_labels_200_ok"
            maxItems: 64
          examples:
            application/json:
            - label_id: 123
              label_name: "Friends"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_contacts.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 300
  /v1/characters/{character_id}/contracts/:
    get:
      tags:
      - "Contracts"
      summary: "Get contracts"
      description: "Returns contracts available to a character, only if the character\
        \ is issuer, acceptor or assignee. Only returns contracts no older than 30\
        \ days, or if the status is \"in_progress\".\n\n---\n\nThis route is cached\
        \ for up to 300 seconds"
      operationId: "get_characters_character_id_contracts"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Which page of results to return"
        required: false
        type: "integer"
        default: 1
        minimum: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A list of contracts"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_contracts_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_contracts_200_ok"
            maxItems: 1000
          examples:
            application/json:
            - acceptor_id: 0
              assignee_id: 0
              availability: "public"
              buyout: 1.000000000001E10
              contract_id: 1
              date_accepted: "2017-06-06T13:12:32Z"
              date_completed: "2017-06-06T13:12:32Z"
              date_expired: "2017-06-13T13:12:32Z"
              date_issued: "2017-06-06T13:12:32Z"
              days_to_complete: 0
              end_location_id: 60014719
              for_corporation: true
              issuer_corporation_id: 456
              issuer_id: 123
              price: 1000000.01
              reward: 0.01
              start_location_id: 60014719
              status: "outstanding"
              type: "auction"
              volume: 0.01
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
            X-Pages:
              type: "integer"
              format: "int32"
              description: "Maximum page number"
              default: 1
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-contracts.read_character_contracts.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 300
  /v1/characters/{character_id}/contracts/{contract_id}/bids/:
    get:
      tags:
      - "Contracts"
      summary: "Get contract bids"
      description: "Lists bids on a particular auction contract\n\n---\n\nThis route\
        \ is cached for up to 300 seconds"
      operationId: "get_characters_character_id_contracts_contract_id_bids"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "contract_id"
        in: "path"
        description: "ID of a contract"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ContractId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A list of bids"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_contracts_contract_id_bids_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_contracts_contract_id_bids_200_ok"
            maxItems: 2000
          examples:
            application/json:
            - amount: 1.23
              bid_id: 1
              bidder_id: 123
              date_bid: "2017-01-01T10:10:10Z"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/get_characters_character_id_contracts_contract_id_bids_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-contracts.read_character_contracts.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 300
  /v1/characters/{character_id}/contracts/{contract_id}/items/:
    get:
      tags:
      - "Contracts"
      summary: "Get contract items"
      description: "Lists items of a particular contract\n\n---\n\nThis route is cached\
        \ for up to 3600 seconds"
      operationId: "get_characters_character_id_contracts_contract_id_items"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "contract_id"
        in: "path"
        description: "ID of a contract"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ContractId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A list of items in this contract"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_contracts_contract_id_items_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_contracts_contract_id_items_200_ok"
            maxItems: 2000
          examples:
            application/json:
            - is_included: true
              is_singleton: false
              quantity: 1
              record_id: 123456
              type_id: 587
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/get_characters_character_id_contracts_contract_id_items_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-contracts.read_character_contracts.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 3600
  /v1/characters/{character_id}/corporationhistory/:
    get:
      tags:
      - "Character"
      summary: "Get corporation history"
      description: "Get a list of all the corporations a character has been a member\
        \ of\n\n---\n\nThis route is cached for up to 3600 seconds"
      operationId: "get_characters_character_id_corporationhistory"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Corporation history for the given character"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_corporationhistory_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_corporationhistory_200_ok"
            maxItems: 10000
          examples:
            application/json:
            - corporation_id: 90000001
              is_deleted: true
              record_id: 500
              start_date: "2016-06-26T20:00:00Z"
            - corporation_id: 90000002
              record_id: 501
              start_date: "2016-07-26T20:00:00Z"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 3600
  /v1/characters/{character_id}/fatigue/:
    get:
      tags:
      - "Character"
      summary: "Get jump fatigue"
      description: "Return a character's jump activation and fatigue information\n\
        \n---\n\nThis route is cached for up to 300 seconds"
      operationId: "get_characters_character_id_fatigue"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Jump activation and fatigue information"
          schema:
            $ref: "#/definitions/get_characters_character_id_fatigue_ok"
          examples:
            application/json:
              jump_fatigue_expire_date: "2017-07-06T15:47:00Z"
              last_jump_date: "2017-07-05T15:47:00Z"
              last_update_date: "2017-07-05T15:42:00Z"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_fatigue.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 300
  /v1/characters/{character_id}/fittings/:
    get:
      tags:
      - "Fittings"
      summary: "Get fittings"
      description: "Return fittings of a character\n\n---\n\nThis route is cached\
        \ for up to 300 seconds"
      operationId: "get_characters_character_id_fittings"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A list of fittings"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_fittings_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_fittings_200_ok"
            maxItems: 250
          examples:
            application/json:
            - description: "Awesome Vindi fitting"
              fitting_id: 1
              items:
              - flag: 12
                quantity: 1
                type_id: 1234
              name: "Best Vindicator"
              ship_type_id: 123
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-fittings.read_fittings.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 300
    post:
      tags:
      - "Fittings"
      summary: "Create fitting"
      description: "Save a new fitting for a character\n\n---\n"
      operationId: "post_characters_character_id_fittings"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - in: "body"
        name: "fitting"
        description: "Details about the new fitting"
        required: true
        schema:
          $ref: "#/definitions/post_characters_character_id_fittings_fitting"
        x-exportParamName: "Fitting"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        201:
          description: "A list of fittings"
          schema:
            $ref: "#/definitions/post_characters_character_id_fittings_created"
          examples:
            application/json:
              fitting_id: 2
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-fittings.write_fittings.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
  /v1/characters/{character_id}/fittings/{fitting_id}/:
    delete:
      tags:
      - "Fittings"
      summary: "Delete fitting"
      description: "Delete a fitting from a character\n\n---\n"
      operationId: "delete_characters_character_id_fittings_fitting_id"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "fitting_id"
        in: "path"
        description: "ID for a fitting of this character"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "FittingId"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        204:
          description: "Fitting deleted"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-fittings.write_fittings.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
  /v1/characters/{character_id}/fleet/:
    get:
      tags:
      - "Fleets"
      summary: "Get character fleet info"
      description: "Return the fleet ID the character is in, if any.\n\n---\n\nThis\
        \ route is cached for up to 60 seconds"
      operationId: "get_characters_character_id_fleet"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Details about the character's fleet"
          schema:
            $ref: "#/definitions/get_characters_character_id_fleet_ok"
          examples:
            application/json:
              fleet_id: 1234567890
              role: "fleet_commander"
              squad_id: -1
              wing_id: -1
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        404:
          description: "The character is not in a fleet"
          schema:
            $ref: "#/definitions/get_characters_character_id_fleet_not_found"
          examples:
            application/json:
              error: "Not found message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-fleets.read_fleet.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 60
  /v1/characters/{character_id}/fw/stats/:
    get:
      tags:
      - "Faction Warfare"
      summary: "Overview of a character involved in faction warfare"
      description: "Statistical overview of a character involved in faction warfare\n\
        \n---\n\nThis route expires daily at 11:05"
      operationId: "get_characters_character_id_fw_stats"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Faction warfare statistics for a given character"
          schema:
            $ref: "#/definitions/get_characters_character_id_fw_stats_ok"
          examples:
            application/json:
              enlisted_on: "2017-10-17T00:00:00Z"
              faction_id: 500001
              kills:
                last_week: 893
                total: 684350
                yesterday: 136
              victory_points:
                last_week: 102640
                total: 52658260
                yesterday: 15980
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-characters.read_fw_stats.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
  /v1/characters/{character_id}/implants/:
    get:
      tags:
      - "Clones"
      summary: "Get active implants"
      description: "Return implants on the active clone of a character\n\n---\n\n\
        This route is cached for up to 300 seconds"
      operationId: "get_characters_character_id_implants"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "A list of implant type ids"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_implants_ok"
            items:
              type: "integer"
              format: "int32"
              description: "200 ok integer"
              title: "get_characters_character_id_implants_200_ok"
            maxItems: 11
          examples:
            application/json:
            - 1
            - 2
            - 3
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        304:
          description: "Not modified"
          headers:
            Cache-Control:
              type: "string"
              description: "The caching mechanism used"
            ETag:
              type: "string"
              description: "RFC7232 compliant entity tag"
            Expires:
              type: "string"
              description: "RFC7231 formatted datetime string"
            Last-Modified:
              type: "string"
              description: "RFC7231 formatted datetime string"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/bad_request"
          examples:
            application/json:
              error: "Bad request message"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/unauthorized"
          examples:
            application/json:
              error: "Unauthorized message"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/forbidden"
          examples:
            application/json:
              error: "Forbidden message"
        420:
          description: "Error limited"
          schema:
            $ref: "#/definitions/error_limited"
          examples:
            application/json:
              error: "Error limited message"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/internal_server_error"
          examples:
            application/json:
              error: "Internal server error message"
        503:
          description: "Service unavailable"
          schema:
            $ref: "#/definitions/service_unavailable"
          examples:
            application/json:
              error: "Service unavailable message"
        504:
          description: "Gateway timeout"
          schema:
            $ref: "#/definitions/gateway_timeout"
          examples:
            application/json:
              error: "Gateway timeout message"
      security:
      - evesso:
        - "esi-clones.read_implants.v1"
      x-alternate-versions:
      - "dev"
      - "legacy"
      - "v1"
      x-cached-seconds: 300
  /v1/characters/{character_id}/industry/jobs/:
    get:
      tags:
      - "Industry"
      summary: "List character industry jobs"
      description: "List industry jobs placed by a character\n\n---\n\nThis route\
        \ is cached for up to 300 seconds"
      operationId: "get_characters_character_id_industry_jobs"
      parameters:
      - name: "character_id"
        in: "path"
        description: "An EVE character ID"
        required: true
        type: "integer"
        minimum: 1
        format: "int32"
        x-exportParamName: "CharacterId"
      - name: "datasource"
        in: "query"
        description: "The server name you would like data from"
        required: false
        type: "string"
        default: "tranquility"
        enum:
        - "tranquility"
        - "singularity"
        x-exportParamName: "Datasource"
        x-optionalDataType: "String"
      - name: "If-None-Match"
        in: "header"
        description: "ETag from a previous request. A 304 will be returned if this\
          \ matches the current ETag"
        required: false
        type: "string"
        x-exportParamName: "IfNoneMatch"
        x-optionalDataType: "String"
      - name: "include_completed"
        in: "query"
        description: "Whether retrieve completed character industry jobs as well"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeCompleted"
        x-optionalDataType: "Bool"
      - name: "token"
        in: "query"
        description: "Access token to use if unable to set a header"
        required: false
        type: "string"
        x-exportParamName: "Token"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Industry jobs placed by a character"
          schema:
            type: "array"
            description: "200 ok array"
            title: "get_characters_character_id_industry_jobs_ok"
            items:
              $ref: "#/definitions/get_characters_character_id_industry_jobs_200_ok"
            maxItems: 2000
          examples:
            application/json:
            - activity_id: 1
              blueprint_id: 1015116533326
              blueprint_location_id: 60006382
              blueprint_type_id: 2047
              cost: 118.01
              duration: 548
              end_date: "2014-07-19T15:56:14Z"
              facility_id: 60006382
              installer_id: 498338451
              job_id: 229136101
[...]
